<ion-list lines="full">
    <ion-list-header>
        <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
    </ion-list-header>

    <ng-container *ngFor="let item of items">
        <ion-item (click)="onItemSelect(item)">
            <div class="list-item">
                <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
            </div>
        </ion-item>
    </ng-container>

    <ng-template [ngTemplateOutlet]="footerTemplate"></ng-template>
</ion-list>
