<kirby-card>
  <section>
    <header>
      <h1>Mette Marie Møller-Christensen</h1>
      <p>Bankrådgiver</p>
      <div class="contact-image">
          <img class="contact" src="assets/img/mette.png" alt="Billede af Mette Marie Møller-Christensen" />
      </div>
    </header>
    <main>
      <dl class="contact">
        <dt>Telefon</dt>
        <dd>+45 23 23 22 33</dd>
        <dt>Aarhus Privat</dt>
        <dd>Østergade 4, 8000 Aarhus C</dd>
        <dt class="opening-hours-collapsed">Aarhus Privat - Åbningstider</dt>
        <dd class="opening-hours-collapsed">Lukket nu - Åbner i morgen kl. 10.00</dd>
      </dl>
      <dl class="contact opening-hours-full">
        <dt>Aarhus Privat - Åbningstider</dt>
        <dd>
          <dl class="opening-hours">
            <dt>mandag</dt>
            <dd>10.00 - 16.00</dd>
            <dt>tirsdag</dt>
            <dd>10.00 - 16.00</dd>
            <dt>onsdag</dt>
            <dd>10.00 - 16.00</dd>
            <dt>torsdag</dt>
            <dd>10.00 - 17.30</dd>
            <dt>fredag</dt>
            <dd>10.00 - 16.00</dd>
          </dl>
        </dd>    
      </dl>
    </main>
    <footer>
      <kirby-button shape="round" expand="block" label="Skriv besked"></kirby-button>
    </footer>
  </section>
</kirby-card>