@import '../../../kirby/scss/web-imports';

:host {
    --contact-card-primary: #404040;
    --contact-card-on-primary: white;
    --contact-card-padding-x: 2em;
}

:host kirby-card {
    --kirby-border-radius: 1em;
    --kirby-wireframe-border: 0;
    --kirby-background-color: white;
    min-width: 320px;
    box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
}

header {
    text-align: center;
    padding: var(--contact-card-padding-x);
    background-color: var(--contact-card-primary);
    color: var(--contact-card-on-primary);
    // TODO JEO: Corners should be cropped in card component
    border-top-left-radius: var(--kirby-border-radius);
    border-top-right-radius: var(--kirby-border-radius);

    h1 {
        margin: 0;
        margin-bottom: 0.3em;
    }

    p {
        margin: 0;
    }

    .contact-image {
        margin-top: 1em;
        width: 8em;
        height: 8em;
        display: inline-block;
        margin-bottom: -7em;
        // position: relative;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.2);
        // clip-path: circle(60px at 40% 27%);
    }
}

main {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    padding: 1.5em;
    padding-top: 7em;
    color: black;

    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    dl.contact {
        --contact-card-info-padding: 3.5em;
        --contact-card-info-bullet-width: 2em;
        padding-left: var(--contact-card-info-padding);

        > dt {
            color: #aaa;
            font-size: 0.9em;

            &:before {
                content: "";
                display: block;
                position: absolute;
                margin-left: calc(-1 * var(--contact-card-info-padding));
                margin-top: 0.8em;
                width: var(--contact-card-info-bullet-width);
                height: var(--contact-card-info-bullet-width);
                border-radius: 50%;
                background-color: #d8d8d8;
             }

        }

        > dd {
            margin: 0;
            margin-bottom: 1em;
            font-size: 1.1em;
        }
    }

    .opening-hours-full {
        display: none;
        // white-space: nowrap;

        dl.opening-hours {
            margin: 0;

            dt {
                float: left;
                width: 4.5em;
            }

            dd {
                margin-left: 4.5em;
            }
        }
    }   

    @include media('>small') {
        .opening-hours-collapsed {
            display: none;
        }

        .opening-hours-full {
            display: block;
        }
    }

}

kirby-button {
    font-size: 0.5em;
    --primary: var(--contact-card-primary);
    --on-primary: var(--contact-card-on-primary);

    @include media('>small') {
        min-width: 50%;
        max-width: 50%;
        align-self: flex-end;
    }
}

@include media('>xxlarge') {
    section {
        display: flex;
        flex-direction: row;

        header {
            // TODO JEO: Corners should be cropped in card component
            border-radius: 0;
            border-top-left-radius: var(--kirby-border-radius);
            border-bottom-left-radius: var(--kirby-border-radius);
        }

        main {
            padding-top: 3em;
            flex-grow: 1;
        }
    }
}