@import "../../scss/native-imports";


RadListView {
  background-color:  get-color('base-color');
  //TODO: Add shadow for entire list for list WITHOUT sections
}

.row, .section-header {
  padding: size('s') size('xs') size('s') size('xs');
}

.row.divider {
  border-color: get-color('base-color');
  border-bottom-width: 1;
}

.footer {
  font-weight: bold;
  text-align: center;
  padding-bottom: size('s');
  padding-top: 0;
}

@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.shadow-container {
  $shadow-overhead: 15;
  background-color:  transparent;
  
  .shadow-row {
    $row-height: 65; // TODO: this is static now, need to make it dynamic
    $shadow-height: $row-height + $shadow-overhead; 
    height: $shadow-height;
    margin-top: -$shadow-overhead;
    
    // first shadow row needs to be smaller, as its margin-top is not standard 
    &.first {
      height: $row-height;
    }
  }
}

.row {
  $row-margin: 10;
  margin-left: $row-margin;
  margin-right: $row-margin;
  background-color: get-color('contrast-light');

  &.first {
    margin-top: $row-margin;
    &.rounded {
      @include border-top-radius($border-radius);
    }
  }
  
  &.last {
    margin-bottom: $row-margin;
    &.rounded {
      @include border-bottom-radius($border-radius);
    }
  }
}
