<div class="root">
    <div class="grid-canvas">
        <div class="grid">
          <div class="col col1">&nbsp;</div>
          <div class="col col2">&nbsp;</div>
          <div class="col col3">&nbsp;</div>
        </div>
    </div>
      
    <div class="grid-wrapper">
        <div class="grid">
          <kirby-card-contact-example class="sm"></kirby-card-contact-example>
          <kirby-card-contact-example class="md"></kirby-card-contact-example>
          <kirby-card-contact-example class="lg"></kirby-card-contact-example>
            <!-- <div class="item1">Item 1</div>
            <div class="item2">Item 2</div>
            <div class="item3">Item 3</div> -->
        </div>  
    </div>   
</div>
