<div class="root">
    <div class="grid-canvas">
        <div class="grid">
          <div class="col col1">&nbsp;</div>
          <div class="col col2">&nbsp;</div>
          <div class="col col3">&nbsp;</div>
        </div>
    </div>
      
    <div class="grid-wrapper">
        <div class="grid">
          <kirby-card-contact-example [class]="cardSize('sm')"></kirby-card-contact-example>
          <kirby-card-contact-example [class]="cardSize('md')"></kirby-card-contact-example>
          <kirby-card-contact-example [class]="cardSize('lg')"></kirby-card-contact-example>
        </div>  
    </div>
</div>
